@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added below */
:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 240, 240, 245;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
} 